{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% stylesheet "vendor" %}
    {% stylesheet "style" %}
</head>
<body>
    {% include "partitial/header.html" %}
    

    <main>    
        {% block content %}
        {% endblock %}
    </main>


    {% include "partitial/footer.html" %}
    {# script #}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% javascript "vendor" %}
    {% javascript "fastagram" %}
  </body>
</html>


