{% extends "base.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}

    <p>{{ post.user.username }}</p>
    <p>{{ post.content }}</p>
    <p>this is test</p>
    <p>{{ post.tags_to_href | safe }}</p>
    <p>{{ post.created_at }}</p>
    <p>{{ post.updated_at }}</p>
    {% if post.image %}
       <img src="{{ post.image.url }}" width=200 height=200  alt="">>
    {% endif %}


  <h1>tags</h1>
  {% for tag in post.tag_set.all %}
    <li><a href="{% url 'tag-detail' tag.name %}">{{ tag.tag_name }}</a> </li>
  {% endfor %}

 <form action="{% url 'tag-create' post.hash_id %}" method="post">
      <input type="text" name="name" placeholder="tag name">
      <input type="submit" value="submit">
      {% csrf_token %}
  </form>
    
  
  <ul>
    {% for comment in post.comment_set.all %}
    <li>{{ comment.content }}</li>
    {% endfor %}
  </ul>

 <p>comment insert</p>

  <form action="{% url 'comment' post.hash_id %}" method="post">
    <input type="text" name="content">
    <input type="submit" value="submit">
    {% csrf_token %}
  </form>


{% endblock %}
