{% extends "base.html" %}

{% block title %}
  post list
{% endblock %}

{% block content %}

<h1>post list</h1>
  <ul>
  {% for post in object_list %}
    <li><a href="{% url 'post' post.hash_id %}">{{ post.content }}</a></li>
  {% endfor %}
  </ul>

  <form action="{% url 'write' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="content" cols="30" rows="10"></textarea>
    <input type="file" name="image">
    <input type="submit">
  </form>

{% endblock %}
