.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
li {
    list-style-type: none;
}
.min-height {
    min-height: 67vh;
}
.authform {
    padding-top: 5vh;
}
.check_user_data{
    font-size: 20px;
    color: #ff1744;
}
.disabled_func {
}
