{% extends "base.html" %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
<section class="conatainer min-height">
    <h1 class="header center orange-text">{{ request.user }}'s profile</h1>
        <div class="ptop7vh">
            <ul class="collapsible popout s12 m12 l12" data-collapsible="accordion">

                <li>
                    <div class="collapsible-header active"><i class="material-icons">filter_drama</i>username</div>
                    <div class="collapsible-body"><p>{{ user.username }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>email</div>
                    <div class="collapsible-body"><p>{{ user.email }}</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>description</div>
                    <div class="collapsible-body"><p>{{ user.description }}</p></div>
                </li>
            </ul> 
        </div>
</section>

{% endblock %}
